@charset "UTF-8";
@font-face {
  font-family: "Bazar";
  src: url("../fonts/Bazar.ttf"); }

@font-face {
  font-family: "Sea";
  src: url("../fonts/SEASRN__.ttf"); }

p {
  margin-bottom: 0px; }

* {
  padding: 0px;
  margin: 0px; }

.section-text-head {
  font-size: 180px;
  font-family: "Bazar";
  color: #393a3a;
  text-align: center;
  text-shadow: 2px 3px 0px #fcfaf7;
  position: absolute;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 62px; }

.section-text-head-shadow {
  font-size: 180px;
  font-family: "Bazar";
  color: #484a4d;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  left: 6px;
  top: 69px;
  z-index: 9; }

.section-head-logo {
  margin-top: 302px;
  text-align: center;
  margin-bottom: 20px; }

.section-bottom-text {
  font-size: 32px;
  font-family: 'Oswald';
  color: #38353e;
  text-align: center; }

#hamburger-menu.active {
  top: 56px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear; }

#navbar {
  width: 100%;
  position: relative;
  background-image: url("../imgs/nav-bck.png");
  height: 279px;
  background-size: cover;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: -10px;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

#navbar #navbar-logo {
  padding-top: 12px;
  height: 306px; }

#navbar #navbar-text-container {
  width: 66%;
  height: 100%;
  list-style: none;
  margin-bottom: 0px;
  text-align: center; }

#navbar #navbar-text-container .navbar-text {
  font-size: 54px;
  font-family: "Bazar";
  color: #f9ebd9;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  line-height: 269px;
  margin: 0px;
  margin-top: 10px;
  width: 20%; }

#navbar #navbar-text-container .navbar-text a {
  color: #f9ebd9; }

#navbar #navbar-text-container .navbar-text a:visited {
  text-decoration: none; }

#navbar .hamburger {
  display: none;
  height: 100%;
  width: 70px;
  margin-top: 31px;
  float: right;
  margin-right: 20px; }

#navbar .hamburger .bar {
  width: 100%;
  height: 10px;
  background-color: #333;
  margin: 12px 0;
  transition: 0.4s;
  border-radius: 6px; }

#navbar .hamburger.open .bar {
  background: #fbfaf6; }

#navbar .hamburger.open .bar:first-child {
  transform: translateY(22px) translateX(0) rotate(45deg); }

#navbar .hamburger.open .bar:nth-child(2) {
  opacity: 0; }

#navbar .hamburger.open .bar:nth-child(3) {
  transform: translateY(-22px) translateX(0) rotate(-45deg); }

.activex {
  margin-top: 0px !important; }

#hamburger-menu {
  text-align: center;
  margin-top: -32vh;
  transition: all 0.8s ease-in-out; }

#hamburger-menu .hamburher-menu-li {
  height: 8vh;
  line-height: 8vh;
  font-family: "Bazar";
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 44px;
  color: #383a3c; }

#hamburger-menu .hamburher-menu-li a {
  color: #383a3c; }

#hamburger-menu .hamburher-menu-li a:visited {
  text-decoration: none; }

#header {
  width: 100%;
  position: relative;
  background-image: url("../imgs/header-bck.jpg");
  background-size: cover;
  margin-top: -10px;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  z-index: 4; }

#header #header-logo {
  height: 210px;
  text-align: center;
  margin-top: 96px; }

#header #header-flag {
  margin-top: 62px;
  margin-bottom: 96px; }

#header .width {
  width: 100%; }

#header #slider {
  position: relative;
  margin: 0 auto;
  width: 68%;
  background-color: #fbfaf6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  padding-top: 20px;
  border: 0px solid white;
  border-radius: 6px; }

#header #slider img {
  width: calc(100% - 40px); }

#header #slider #slider-text {
  font-size: 44px;
  font-family: "Bazar";
  color: #383a3c;
  padding-top: 15px;
  padding-bottom: 28px; }

#header #slider #arrow-container-left {
  height: 120px;
  width: 70px;
  border-radius: 0 120px 120px 0;
  background-color: #fbfaf6;
  margin: auto;
  position: absolute;
  top: -63px;
  left: 1;
  bottom: 0; }

#header #slider #arrow-container-left #arrow-left {
  transform: rotate(180deg); }

#header #slider #arrow-container-right {
  height: 120px;
  width: 70px;
  border-radius: 120px 0 0 120px;
  background-color: #fbfaf6;
  margin: auto;
  position: absolute;
  top: -63px;
  left: 1;
  bottom: 0;
  left: calc(100% - 70px); }

#header #slider .header-arrow {
  margin-top: 36px;
  transition: all 0.4s ease-in-out; }

#header #slider .header-arrow:hover {
  opacity: 0.58;
  cursor: pointer; }

#header #header-text {
  margin-top: 54px;
  font-size: 53px;
  font-family: "Bazar";
  color: #f7ebd8;
  padding-bottom: 110px;
  margin-bottom: 0px; }

#header #header-text .font-size {
  font-size: 64px; }

#about {
  width: 100%;
  position: relative;
  background-image: url("../imgs/about-bck.jpg");
  background-size: cover;
  text-align: center;
  z-index: 3;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); }

#about .container-fluid {
  padding-top: 72px; }

#about .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#about .about-img {
  margin-bottom: 30px; }

#about .about-container {
  width: 450px;
  text-align: center; }

#about .about-container-text-top {
  font-size: 54px;
  font-family: "Bazar";
  color: #383a3c;
  text-align: center; }

#about .about-container-text-middle {
  font-size: 28px;
  font-family: 'Roboto Slab';
  color: #383a3c;
  text-align: center; }

#about .about-container-text {
  font-size: 28px;
  font-family: "Roboto Slab";
  color: #383a3c;
  text-align: left;
  padding-bottom: 146px; }

#about .small-stripe-b {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 36px; }

#portfolio {
  width: 100%;
  position: relative;
  background-image: url("../imgs/portfolio-bck.jpg");
  background-size: cover;
  text-align: center;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); }

#portfolio .tags-container {
  margin-bottom: 34px; }

#portfolio ul {
  width: 100%;
  list-style: none;
  margin-top: 82px;
  margin-left: 16%; }

#portfolio ul .portfolio-li-text {
  font-size: 32px;
  font-family: "Roboto Slab";
  color: #383a3c;
  text-align: left;
  list-style: none;
  float: left;
  margin-right: 18px;
  line-height: 36px; }

#portfolio ul .portfolio-li-text::before {
  color: transparent; }

#portfolio ul .tag {
  position: relative;
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #383a3c;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  background-image: url("../imgs/tag3.png");
  background-size: auto 49px;
  background-repeat: no-repeat;
  height: 49px;
  padding-left: 48px;
  padding-right: 16px;
  line-height: 40px;
  border-radius: 6px; }

#portfolio ul .tag::before {
  content: "• ";
  color: #959ca3;
  position: absolute;
  top: 2px;
  left: 24px; }

#portfolio .container-fluid {
  width: auto;
  text-align: center; }

#portfolio .container-fluid .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#portfolio .container-fluid .portfolio-row-center {
  width: 440px;
  margin-right: 19px;
  margin-left: 19px;
  text-align: center; }

#portfolio .container-fluid .portfolio-container {
  width: 440px;
  position: relative;
  margin: 0 auto;
  background-color: #fbfaf6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  padding-top: 8px;
  border: 0px solid white;
  border-radius: 6px; }

#portfolio .container-fluid .portfolio-container .portfolio-container-text {
  font-size: 24px;
  font-family: "Roboto Slab";
  color: #383a3c;
  font-weight: bold;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 32px; }

#portfolio .container-fluid .portfolio-container .portfolio-logo-img {
  border-radius: 50%;
  background-color: #fbfaf6;
  width: 88px;
  height: 88px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 12;
  top: 302px; }

#portfolio .container-fluid .portfolio-container .portfolio-logo-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0; }

#portfolio .small-stripe {
  padding-top: 68px;
  margin-bottom: 16px; }

#portfolio #portfolio-text-bottom {
  font-size: 28px;
  font-family: "Oswald";
  color: #38353e;
  font-weight: bold;
  text-align: center;
  padding-bottom: 112px;
  margin-bottom: 0px; }

#portfolio #portfolio-text-bottom:hover {
  cursor: pointer;
  opacity: 0.58; }

#blog {
  width: 100%;
  position: relative;
  background-image: url("../imgs/blog-bck.jpg");
  background-size: cover;
  text-align: center;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); }

#blog .blog-margin-text {
  padding-bottom: 10px; }

#blog .container-fluid {
  text-align: left;
  width: 70%; }

#blog .container-fluid .blog-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 66px; }

#blog .container-fluid .blog-container .blog-img {
  border: 8px solid #fbfaf6;
  border-radius: 6px;
  display: inline-block;
  width: 100%; }

#blog .container-fluid .blog-container .blog-main-text {
  font-size: 48px;
  font-family: "Roboto Slab";
  color: #383a3c;
  font-weight: bold;
  text-align: left; }

#blog .container-fluid .blog-container .blog-date {
  font-size: 20px;
  font-family: "Oswald";
  color: #383a3c;
  font-weight: bold;
  text-align: left;
  width: 95%; }

#blog .container-fluid .blog-container .blog-text {
  font-size: 32px;
  font-family: "Roboto Slab";
  color: #383a3c;
  text-align: left;
  width: 95%; }

#blog .container-fluid .blog-container .blog-text .smaller-text {
  font-size: 20px;
  font-weight: bold; }

#blog .container-fluid .blog-container .blog-resonse {
  float: right; }

#blog .container-fluid .blog-container .small-stripe {
  padding-top: 22px;
  padding-bottom: 32px; }

#blog .medium-stripe {
  padding-bottom: 42px; }

#blog #blog-bottom-text {
  font-size: 28px;
  font-family: "Oswald";
  color: #38353e;
  font-weight: bold;
  padding-bottom: 112px;
  margin-bottom: 0px; }

#blog #blog-bottom-text:hover {
  cursor: pointer;
  opacity: 0.8; }

#contact {
  width: 100%;
  position: relative;
  background-image: url("../imgs/contact-bck.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); }

#contact .section-text-head-white {
  font-size: 180px;
  font-family: "Bazar";
  color: #f6edd8;
  text-align: center;
  text-shadow: 2px 3px 0px #484a4d;
  position: absolute;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 62px; }

#contact .section-text-head-shadow-white {
  font-size: 180px;
  font-family: "Bazar";
  color: #d4cebf;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  left: 6px;
  top: 69px;
  z-index: 9; }

#contact .section-bottom-text-white {
  color: #f6edd8;
  font-size: 32px;
  font-family: 'Oswald';
  text-align: center;
  padding-bottom: 72px; }

#contact #inputs-container {
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

#contact #inputs-container .normal-input {
  font-size: 32px;
  font-family: "Roboto Slab";
  color: darkgray;
  text-align: left;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  width: 944px;
  height: 74px;
  padding-left: 16px;
  margin-bottom: 18px; }

#contact #inputs-container .big-input {
  padding-top: 26px;
  padding-bottom: 276px; }

#contact #inputs-container input:focus {
  outline: none;
  color: #383a3c; }

#contact #inputs-container .contact-btn {
  border-radius: 6px;
  background-color: #fcfaf7;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
  width: 282px;
  height: 72px;
  font-size: 32px;
  font-family: "Roboto Slab";
  color: #383a3c;
  font-weight: bold;
  float: left;
  transition: all 0.4s ease-in-out; }

#contact #inputs-container .contact-btn:hover {
  opacity: 0.8; }

#contact .contact-text {
  font-size: 48px;
  font-family: "Bazar";
  color: #f6edd8;
  line-height: 0.458;
  text-align: center;
  padding-top: 148px;
  padding-bottom: 18px; }

#contact .small-stripe {
  padding-bottom: 30px; }

#contact ul {
  margin-bottom: 0px;
  padding-bottom: 144px; }

#contact li {
  display: inline-block;
  margin-right: 20px;
  transition: all 0.4s ease-in-out; }

#contact li:hover {
  cursor: pointer;
  opacity: 0.8; }

@media only screen and (max-width: 2000px) {
  #navbar-text-container {
    width: 100% !important; } }

@media only screen and (max-width: 1500px) {
  #navbar {
    height: 140px !important; }
  #navbar #navbar-logo {
    height: 100% !important;
    top: 0 !important;
    width: auto !important; }
  #navbar .navbar-text {
    line-height: 140px !important;
    font-size: 40px !important; } }

@media only screen and (max-width: 1250px) {
  #header-flag {
    width: 100% !important; }
  #header-logo {
    width: 60% !important;
    height: auto !important; }
  #slider {
    width: 100% !important;
    height: auto !important; }
  #slider-text {
    font-size: 20px !important; } }

@media only screen and (max-width: 1050px) {
  .navbar-text-display {
    display: none !important; }
  #navbar-logo {
    padding: 0px !important; }
  .navbar-text {
    margin-top: 0px !important; }
  .hamburger {
    display: block !important; }
  #inputs-container {
    width: 100% !important; }
  .normal-input {
    width: 100% !important; }
  .section-text-head {
    font-size: 120px !important; }
  .section-text-head-shadow {
    font-size: 120px !important; }
  .section-text-head-white {
    font-size: 120px !important; }
  .section-text-head-shadow-white {
    font-size: 120px !important; } }

@media only screen and (max-width: 660px) {
  .section-text-head {
    font-size: 90px !important; }
  .section-text-head-shadow {
    font-size: 90px !important; }
  .section-text-head-white {
    font-size: 90px !important; }
  .section-text-head-shadow-white {
    font-size: 90px !important; }
  .portfolio-container {
    width: 100% !important; }
  .portfolio-img {
    width: 100% !important; }
  .portfolio-logo-img {
    display: none !important; }
  .portfolio-container-text {
    font-size: 18px !important; }
  .blog-text {
    font-size: 20px !important; }
  .socials img {
    width: 50% !important; }
  .blog-main-text {
    font-size: 30px !important; }
  .blog-date {
    font-size: 12px !important; }
  .about-img {
    width: 50% !important; }
  .hamburher-menu-li {
    font-size: 30px !important;
    height: 12vh !important;
    line-height: 13vh !important; }
  #hamburger-menu {
    margin-top: -48vh; }
  #header-text {
    font-size: 26px !important; }
  #header-text .font-size {
    font-size: 32px !important; } }

@media only screen and (max-width: 550px) {
  .section-text-head {
    font-size: 60px !important; }
  .section-text-head-shadow {
    font-size: 60px !important; }
  .section-text-head-white {
    font-size: 60px !important; }
  .section-text-head-shadow-white {
    font-size: 60px !important; } }

@media only screen and (max-width: 768px) {
  .navbar-text {
    float: left !important; } }
